/***
* RHD Dev: Compiled at 6:22:08 PM on 19-07-2017
***/

/**
 * TinyMCE Styles
 **/
.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 48px;
  height: 48px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}
.c-hamburger:focus {
  outline: none;
}
.c-hamburger span {
  display: block;
  position: absolute;
  top: 22px;
  left: 9px;
  right: 9px;
  height: 4px;
  background: #fff;
}
.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  content: "";
}
.c-hamburger span::before {
  top: -10px;
}
.c-hamburger span::after {
  bottom: -10px;
}
.c-hamburger--rot {
  background-color: #28aadc;
}
.c-hamburger--rot span {
  transition: transform 0.3s;
}
.c-hamburger--rot.is-active {
  background-color: #1d89b3;
}
.c-hamburger--rot.is-active span {
  transform: rotate(90deg);
}
.c-hamburger--htx {
  background-color: #ff3264;
}
.c-hamburger--htx span {
  transition: background 0s 0.3s;
}
.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}
.c-hamburger--htx span::before {
  transition-property: top, transform;
}
.c-hamburger--htx span::after {
  transition-property: bottom, transform;
}
.c-hamburger--htx.is-active {
  background-color: #f4003c;
}
.c-hamburger--htx.is-active span {
  background: none;
}
.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}
.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}
.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.3s;
}
.c-hamburger--htla {
  background-color: #32dc64;
}
.c-hamburger--htla span {
  transition: transform 0.3s;
}
.c-hamburger--htla span::before {
  transform-origin: top right;
  transition: transform 0.3s, width 0.3s, top 0.3s;
}
.c-hamburger--htla span::after {
  transform-origin: bottom right;
  transition: transform 0.3s, width 0.3s, bottom 0.3s;
}
.c-hamburger--htla.is-active {
  background-color: #20b94d;
}
.c-hamburger--htla.is-active span {
  transform: rotate(180deg);
}
.c-hamburger--htla.is-active span::before,
.c-hamburger--htla.is-active span::after {
  width: 50%;
}
.c-hamburger--htla.is-active span::before {
  top: 0;
  transform: translateX(19px) translateY(2px) rotate(45deg);
}
.c-hamburger--htla.is-active span::after {
  bottom: 0;
  transform: translateX(19px) translateY(-2px) rotate(-45deg);
}
.c-hamburger--htra {
  background-color: #ff9650;
}
.c-hamburger--htra span {
  transition: transform 0.3s;
}
.c-hamburger--htra span::before {
  transform-origin: top left;
  transition: transform 0.3s, width 0.3s, top 0.3s;
}
.c-hamburger--htra span::after {
  transform-origin: bottom left;
  transition: transform 0.3s, width 0.3s, bottom 0.3s;
}
.c-hamburger--htra.is-active {
  background-color: #ff6e0d;
}
.c-hamburger--htra.is-active span {
  transform: rotate(180deg);
}
.c-hamburger--htra.is-active span::before,
.c-hamburger--htra.is-active span::after {
  width: 50%;
}
.c-hamburger--htra.is-active span::before {
  top: 0;
  transform: translateX(-4px) translateY(2px) rotate(-45deg);
}
.c-hamburger--htra.is-active span::after {
  bottom: 0;
  transform: translateX(-4px) translateY(-2px) rotate(45deg);
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusableactive,
.visuallyhidden.focusablefocus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.clearfix:before,
#content .section-content:before,
#btm-rolldown-form:before,
.blog .pagination:before,
.blog .single-pagination:before,
.front-page .front-page-entry:before,
.page-id-27 .front-page-entry:before,
#contact .section-content:before,
.rhd_mc_subscribe:before,
#colophon .site-info:before,
.clearfix:after,
#content .section-content:after,
#btm-rolldown-form:after,
.blog .pagination:after,
.blog .single-pagination:after,
.front-page .front-page-entry:after,
.page-id-27 .front-page-entry:after,
#contact .section-content:after,
.rhd_mc_subscribe:after,
#colophon .site-info:after {
  content: " ";
  display: table;
}
.clearfix:after,
#content .section-content:after,
#btm-rolldown-form:after,
.blog .pagination:after,
.blog .single-pagination:after,
.front-page .front-page-entry:after,
.page-id-27 .front-page-entry:after,
#contact .section-content:after,
.rhd_mc_subscribe:after,
#colophon .site-info:after {
  clear: both;
}
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media print {
  *,
  *before,
  *after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  avisited {
    text-decoration: underline;
  }
  a[href]after {
    content: " (" attr(href) ")";
  }
  abbr[title]after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]after,
  a[href^="javascript"]after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
img.alignleft {
  float: left;
}
img.alignright {
  float: right;
}
img.aligncenter {
  margin: 0 auto;
  display: block;
}
.gallery {
  width: 100%;
  margin-bottom: 1.6em;
}
.gallery-item {
  display: inline-block;
  padding: 1.79104477%;
  box-sizing: border-box;
  text-align: center;
  vertical-align: top;
  width: 100%;
}
.gallery-item img {
  max-width: 100%;
  height: auto;
}
.gallery-columns-2 .gallery-item {
  max-width: 50%;
}
.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
  max-width: 25%;
}
.gallery-columns-5 .gallery-item {
  max-width: 20%;
}
.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}
.gallery-icon img {
  margin: 0 auto;
}
.gallery-caption {
  color: #707070;
  color: rgba(51,51,51,0.7);
  display: block;
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.5;
  padding: 0.5em 0;
}
.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
  display: none;
}
#blog-metabar {
  width: 100%;
  height: auto;
  background: #4465a3;
}
#blog-metabar input {
  border: none;
}
#blog-metabar #blog-metabar-content {
  width: 90%;
  max-width: 64rem;
  position: relative;
  margin: 0 auto 0 auto;
  list-style: none;
  padding: 1em 0;
}
#blog-metabar #blog-metabar-content li {
  width: 100%;
  margin-bottom: 0.5em;
  display: block;
}
#blog-metabar #blog-metabar-content li:last-child {
  margin-bottom: 0;
}
#blog-metabar #blog-metabar-content li .drop,
#blog-metabar #blog-metabar-content li .search-submit {
  width: 2em;
  height: 2em;
  background: #9ea4b1;
  color: #fff;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: 400;
  font-size: 1em;
}
#blog-metabar #blog-metabar-content li .drop:hover,
#blog-metabar #blog-metabar-content li .search-submit:hover,
#blog-metabar #blog-metabar-content li .drop:active,
#blog-metabar #blog-metabar-content li .search-submit:active {
  background: #132f4d;
}
#blog-metabar #blog-metabar-content li .drop {
  line-height: 1.3;
}
#blog-metabar #blog-metabar-content li .search-field::-webkit-input-placeholder {
  font-family: 'Lato', sans-serif;
  color: #9ea4b1;
  -moz-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
}
#blog-metabar #blog-metabar-content li .search-field:-moz-placeholder {
  font-family: 'Lato', sans-serif;
  color: #9ea4b1;
  -moz-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
}
#blog-metabar #blog-metabar-content li .search-field::-moz-placeholder {
  font-family: 'Lato', sans-serif;
  color: #9ea4b1;
  -moz-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
}
#blog-metabar #blog-metabar-content li .search-field:-ms-input-placeholder {
  font-family: 'Lato', sans-serif;
  color: #9ea4b1;
}
#blog-metabar #blog-metabar-content li .rhd-dropdown-title,
#blog-metabar #blog-metabar-content li .search-field {
  width: 100%;
  height: 2em;
  padding-left: 0.5em;
  background: #fff;
  color: #9ea4b1;
  position: relative;
  font-family: 'Lato', sans-serif;
}
#blog-metabar #blog-metabar-content li .rhd-dropdown-title .dd-title-text,
#blog-metabar #blog-metabar-content li .rhd-dropdown-title .dd-link-text {
  position: relative;
  top: 0.25em;
}
#blog-metabar #blog-metabar-content li .drop {
  text-decoration: none;
  text-align: center;
}
#blog-metabar #blog-metabar-content li .drop .dd-link-text {
  color: #fff;
}
#blog-metabar #blog-metabar-content li .rhd-dropdown {
  position: relative;
  text-transform: uppercase;
}
#blog-metabar #blog-metabar-content li .rhd-dropdown ul {
  width: 100%;
  position: absolute;
  top: 2em;
  overflow-y: auto;
  background: #fff;
  padding-left: 0;
  margin: 0;
  display: none;
  z-index: 999;
  box-shadow: 0 3px 4px -1px rgba(0,0,0,0.5);
}
#blog-metabar #blog-metabar-content li .rhd-dropdown ul li {
  width: 100%;
  background: #fff;
  display: block;
  padding-left: 0.5em;
}
#blog-metabar #blog-metabar-content li .rhd-dropdown ul li a {
  color: #9ea4b1;
  text-decoration: none;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
#blog-metabar #blog-metabar-content li .rhd-dropdown ul li a:hover,
#blog-metabar #blog-metabar-content li .rhd-dropdown ul li a:active {
  color: #f89d68;
}
#blog-metabar #blog-metabar-content #blog-search {
  top: 0;
}
@media screen and (min-width: 40em) {
  #blog-metabar {
    height: 5rem;
    padding: 0;
  }
  #blog-metabar #blog-metabar-content {
    width: 85%;
    max-width: 64rem;
    position: relative;
    margin: 0 auto 0 auto;
    text-align: justify;
  }
  #blog-metabar #blog-metabar-content:after {
    width: 100%;
    display: inline-block;
    content: '';
  }
  #blog-metabar #blog-metabar-content li {
    width: 30%;
    display: inline-block;
  }
  #blog-metabar #blog-metabar-content #blog-search {
    position: relative;
    top: 0.25em;
  }
}
html,
body {
  width: 100%;
  text-shadow: 0 0 1px transparent;
  font-size: 18px;
  margin: 0;
  background: #fff;
  color: #000;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
body {
  fill: currentColor;
}
a {
  outline: 0 !important;
  color: #c94f37;
  transition: all 0.25s;
  text-decoration: none;
}
a:hover,
a:active {
  color: #f89d68;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}
.sb-slidebar {
  border-left: 3px solid #132f4d;
}
.sb-slidebar .sb-logo {
  height: 5rem;
  margin: 0;
  position: relative;
}
.sb-slidebar .sb-logo .nav-logo {
  width: 90%;
  height: auto;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.sb-slidebar #site-navigation-sb-container #site-navigation-sb {
  padding-left: 0;
  font-size: 1.6em;
  line-height: 1;
  margin: 0;
}
.sb-slidebar #site-navigation-sb-container #site-navigation-sb .menu-item {
  padding: 1em 0 1em 0.75em;
}
.sb-slidebar #site-navigation-sb-container #site-navigation-sb .menu-item a {
  width: 100%;
  height: 100%;
  display: block;
  color: #fff;
}
.sb-slidebar #site-navigation-sb-container #site-navigation-sb .menu-item:nth-of-type(7n+1) {
  background-color: #4465a3;
}
.sb-slidebar #site-navigation-sb-container #site-navigation-sb .menu-item:nth-of-type(7n+2) {
  background-color: #9ea4b1;
}
.sb-slidebar #site-navigation-sb-container #site-navigation-sb .menu-item:nth-of-type(7n+3) {
  background-color: #bf4d6c;
}
.sb-slidebar #site-navigation-sb-container #site-navigation-sb .menu-item:nth-of-type(7n+4) {
  background-color: $$bluer;
}
.sb-slidebar #site-navigation-sb-container #site-navigation-sb .menu-item:nth-of-type(7n+5) {
  background-color: #f89d68;
}
.sb-slidebar #site-navigation-sb-container #site-navigation-sb .menu-item:nth-of-type(7n+6) {
  background-color: #ae2223;
}
.sb-slidebar #site-navigation-sb-container #site-navigation-sb .menu-item:nth-of-type(7n+7) {
  background-color: #9ea4b1;
}
#page {
  width: 100%;
  overflow: hidden;
  padding-top: 5rem;
}
#main {
  box-sizing: border-box;
}
#primary {
  width: 100%;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
}
#colophon {
  width: 100%;
  background: #9ea4b1;
  color: #fff;
  padding: 1em 0;
}
#colophon .site-info {
  margin: 0;
  text-align: center;
  line-height: 1.7;
  font-size: 0.9em;
  font-weight: 300;
  position: relative;
}
#colophon .site-info p {
  margin: 0.25em auto;
  text-align: center;
}
#colophon .site-info a {
  text-decoration: none;
  transition: color 0.2s;
}
#colophon .site-info a:link,
#colophon .site-info a:visited {
  color: inherit;
}
#colophon .site-info a:hover,
#colophon .site-info a:active {
  color: #132f4d;
}
#colophon #rhd-logo-footer {
  width: 1.35em;
  height: 1.35em;
  margin: 0 0.05em;
  position: relative;
  bottom: 0.25em;
}
.section-title {
  font-size: 2em;
  text-align: center;
  margin: 0 auto 1em auto;
}
#content section {
  width: 100%;
  position: relative;
}
#content .section-content {
  width: 85%;
  max-width: 64rem;
  position: relative;
  margin: 0 auto 0 auto;
  padding: 1em 0;
}
#content .section-content > *:first-child {
  margin-top: 0;
}
#content .section-content h2 {
  font-size: 2em;
}
#content .section-content h3 {
  font-size: 1.8em;
}
#content iframe {
  max-width: 100%;
  display: block;
}
#top {
  position: relative;
  background-image: url("//edgeofthemat.com/wp-content/uploads/2015/09/edge-bg-home.jpg");
}
#top #masthead {
  width: 17%;
  min-width: 13rem;
  height: 100%;
  text-align: center;
  margin: 0 auto;
  position: relative;
}
#top #masthead #site-title {
  width: 100%;
  height: auto;
  position: absolute;
  top: 45%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  fill: #fff;
}
#top #masthead #site-title-text {
  visibility: hidden;
  position: absolute;
}
#top #downarrows {
  width: 5rem;
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  display: block;
}
#top #downarrows img {
  width: 100%;
}
#nav {
  width: 100%;
  height: 5rem;
  background-color: #9ea4b1;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
#nav .nav-logo {
  width: 12%;
  min-width: 10rem;
  position: relative;
  margin-left: 1%;
}
#nav .nav-logo path {
  fill: #fff;
  transition: fill 0.25s;
}
#nav #site-navigation {
  list-style: none;
  padding-left: 0;
}
#nav #site-navigation li {
  text-transform: uppercase;
}
#nav #site-navigation li a {
  text-decoration: none;
}
#nav #site-navigation li a:link,
#nav #site-navigation li a:visited {
  color: #fff;
}
#nav #site-navigation li a:active,
#nav #site-navigation li a:hover {
  color: #c94f37;
}
#nav #site-navigation-container {
  display: none;
}
#nav #hamburger {
  font-size: 1.2em;
  background-color: transparent;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
#nav #hamburger span {
  background-color: #fff;
}
#nav #hamburger span::before,
#nav #hamburger span::after {
  background-color: #fff;
}
#intro {
  color: #fff;
}
#intro a {
  color: #fff;
  text-decoration: underline;
}
#btm-rolldown-form {
  width: 90%;
  margin: 2em auto;
  transition: max-height 0.5s ease-in-out;
  overflow: hidden;
}
#btm-rolldown-form.inactive {
  max-height: 0;
}
#btm-rolldown-form.active {
  max-height: 310px;
}
#btm-rolldown-form input,
#btm-rolldown-form textarea {
  max-width: none;
  font-size: 1em;
  padding: 0.5em 0.25em;
  border: 2px solid #132f4d;
  font-family: 'Lato', sans-serif;
  transition: 0.2s all;
}
#btm-rolldown-form input:focus,
#btm-rolldown-form textarea:focus {
  border: 2px solid #4465a3;
  outline: none;
}
#btm-rolldown-form input[type="email"],
#btm-rolldown-form textarea[type="email"],
#btm-rolldown-form input[type="text"],
#btm-rolldown-form textarea[type="text"] {
  width: 100%;
  height: 2em;
}
#btm-rolldown-form input[type="submit"],
#btm-rolldown-form textarea[type="submit"] {
  width: 100%;
  background: #132f4d;
  color: #fff;
  border: none;
  padding: 0.5em 1em 0.4em;
  font-size: 1.1em;
  text-align: center;
  font-weight: 300;
  display: block;
  cursor: pointer;
  text-transform: uppercase;
}
#btm-rolldown-form input[type="submit"]:hover,
#btm-rolldown-form textarea[type="submit"]:hover,
#btm-rolldown-form input[type="submit"]:active,
#btm-rolldown-form textarea[type="submit"]:active {
  background: #4465a3;
}
#btm-rolldown-form textarea {
  width: 100%;
  padding: 0.25em;
}
#btm-rolldown-form label > span {
  opacity: 0.5;
  font-size: 0.8em;
}
#rhd_social_icons-2 {
  width: 16.6em;
  margin: 0 auto;
}
#rhd_social_icons-2 .rhd_social_icons {
  width: 100%;
  text-align: justify;
}
#rhd_social_icons-2 .rhd_social_icons:after {
  width: 100%;
  display: inline-block;
  content: '';
}
#rhd_social_icons-2 .rhd_social_icons li {
  width: 20%;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}
.full-bg {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}
#full-bg-1 {
  background-image: url("//edgeofthemat.com/wp-content/uploads/2015/09/edge-bg-blog.jpg");
  background-position: 82% center;
}
#full-bg-2 {
  background-image: url("//edgeofthemat.com/wp-content/uploads/2015/09/edge-bg-teaching.jpg");
  background-position: 73% center;
}
#full-bg-3 {
  background-image: url("//edgeofthemat.com/wp-content/uploads/2015/09/edge-bg-coaching.jpg");
  background-position: 76% center;
}
#full-bg-4 {
  background-image: url("//edgeofthemat.com/wp-content/uploads/2015/09/edge-bg-about.jpg");
  background-position: 24% center;
}
#btm-full-bg-top {
  height: 80vh;
  background-image: url("//edgeofthemat.com/wp-content/uploads/2015/09/beyond-bg.jpg");
}
.bg-white {
  background-color: #fff;
}
.bg-blue,
.bg-orange,
.bg-red,
.bg-pink,
.bg-green {
  color: #fff;
}
.bg-blue {
  background-color: #4465a3;
}
.bg-orange {
  background-color: #f89d68;
}
.bg-red {
  background-color: #ae2223;
}
.bg-rust {
  background-color: #c94f37;
}
.bg-pink {
  background-color: #bf4d6c;
}
.bg-green {
  background-color: #93a75f;
}
.section-content iframe,
.entry-content iframe {
  display: block;
  margin: 0 auto;
}
.ghost-button,
#comments #commentform #submit {
  width: auto;
  padding: 0.5em 1em;
  text-decoration: none !important;
  text-align: center;
  transition: all 0.25s;
  background-color: transparent;
  color: #000;
  border: 2px solid #000;
}
.ghost-button:hover,
#comments #commentform #submit:hover,
.ghost-button:active,
#comments #commentform #submit:active {
  color: #fff;
  border-color: #000;
  background-color: #000;
}
.bg-blue .ghost-button {
  color: #fff;
  border-color: #fff;
}
.bg-blue .ghost-button:hover,
.bg-blue .ghost-button:active {
  color: #4465a3;
  border-color: #4465a3;
  background-color: #fff;
}
.bg-blue .ghost-button,
.bg-orange .ghost-button,
.bg-red .ghost-button,
.bg-pink .ghost-button,
.bg-green .ghost-button {
  color: #fff;
  border-color: #fff;
}
.bg-blue .ghost-button:hover,
.bg-orange .ghost-button:hover,
.bg-red .ghost-button:hover,
.bg-pink .ghost-button:hover,
.bg-green .ghost-button:hover,
.bg-blue .ghost-button:active,
.bg-orange .ghost-button:active,
.bg-red .ghost-button:active,
.bg-pink .ghost-button:active,
.bg-green .ghost-button:active {
  background-color: #fff;
}
.bg-blue .ghost-button:hover,
.bg-blue .ghost-button:active {
  color: #4465a3;
}
.bg-orange .ghost-button:hover,
.bg-orange .ghost-button:active {
  color: #f89d68;
}
.bg-red .ghost-button:hover,
.bg-red .ghost-button:active {
  color: #c94f37;
}
.bg-pink .ghost-button:hover,
.bg-pink .ghost-button:active {
  color: #bf4d6c;
}
.bg-green .ghost-button:hover,
.bg-green .ghost-button:active {
  color: #93a75f;
}
.page-title {
  text-align: center;
  font-size: 2em;
  margin-bottom: 1em;
  text-transform: uppercase;
}
.blog #nav,
.single #nav,
.page-id-27 #nav {
  position: fixed;
  top: 0;
  left: 0;
}
.blog #content,
.single #content {
  width: 95%;
  max-width: 64rem;
  position: relative;
  margin: 0 auto 0 auto;
}
.front-page .entry-header,
.page-id-27 .entry-header,
.blog .entry-header {
  text-align: center;
}
.front-page .entry-title,
.page-id-27 .entry-title,
.blog .entry-title {
  margin: 0.25em 0 0 0;
  font-weight: 700;
  font-size: 1.5em;
}
.front-page .entry-details,
.page-id-27 .entry-details,
.blog .entry-details {
  margin-top: 0;
  font-size: 0.9em;
}
.single .entry-title {
  font-weight: 300;
  margin-bottom: 0;
}
.single .entry-details {
  margin-top: 0;
}
.blog .blog-archive-thumb {
  width: 100%;
  height: auto;
}
.blog .blog-archive-thumb img {
  width: 100%;
  height: auto;
}
.blog .entry-title,
.blog .entry-details {
  text-align: center;
}
.blog .pagination,
.blog .single-pagination {
  width: 85%;
  max-width: 64rem;
  position: relative;
  margin: 2em auto 2em auto;
  margin: 1em auto;
  font-size: 1.1em;
}
.blog .pagination .pag-next,
.blog .single-pagination .pag-next,
.blog .pagination [rel="next"],
.blog .single-pagination [rel="next"] {
  float: left;
}
.blog .pagination .pag-prev,
.blog .single-pagination .pag-prev,
.blog .pagination [rel="prev"],
.blog .single-pagination [rel="prev"] {
  float: right;
}
.front-page #nav {
  position: relative;
}
.front-page #page,
.page-id-27 #page {
  padding-top: 0;
}
.front-page .front-page-entry-thumb,
.page-id-27 .front-page-entry-thumb {
  width: 100%;
}
.front-page .front-page-entry-thumb img,
.page-id-27 .front-page-entry-thumb img {
  width: 100%;
}
.front-page .ghost-button,
.page-id-27 .ghost-button {
  margin-top: 2em;
  position: relative;
  left: 50%;
  font-size: 1.2em;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  display: inline-block;
}
#comments {
  margin: 2em auto;
}
#comments .commentlist,
#comments .commentlist ul,
#comments .commentlist ol {
  list-style: none;
  padding-left: 0;
}
#comments .commentlist .children,
#comments .commentlist ul .children,
#comments .commentlist ol .children {
  padding: 0 1.5em;
}
#comments .commentlist .comment-metadata,
#comments .commentlist ul .comment-metadata,
#comments .commentlist ol .comment-metadata {
  font-size: 0.9em;
}
#comments .commentlist .comment-metadata time,
#comments .commentlist ul .comment-metadata time,
#comments .commentlist ol .comment-metadata time {
  font-style: italic;
}
#comments .even {
  background: #e8e8e8;
}
#comments .odd {
  background: #fff;
}
#comments .comment-body {
  padding: 1em;
  box-sizing: border-box;
}
#comments textarea {
  max-width: 100%;
}
#comments #commentform {
  width: 100%;
  min-width: 18rem;
  max-width: 100%;
}
#comments #commentform p {
  margin-bottom: 0.75rem;
}
#comments #commentform input,
#comments #commentform textarea {
  width: 100%;
  background-color: #e8e8e8;
  font-size: 0.8em;
  border: none;
  box-sizing: border-box;
  padding: 0.5em;
  display: inline-block;
}
#comments #commentform #submit {
  width: auto;
  padding-left: 0.8em;
  cursor: pointer;
}
#comments #commentform .comment-subscription-form {
  margin: initial;
}
.rhd_mc_subscribe {
  margin: 1em auto;
}
.rhd_mc_subscribe input {
  width: 100%;
  font-family: 'Lato', sans-serif;
  margin: 0.25em auto;
  border-radius: 0.1em;
  outline: none;
}
.rhd_mc_subscribe input::-webkit-input-placeholder {
  font-family: 'Lato';
}
.rhd_mc_subscribe input:-moz-placeholder {
  font-family: 'Lato';
  color: ;
}
.rhd_mc_subscribe input::-moz-placeholder {
  font-family: 'Lato';
  color: ;
}
.rhd_mc_subscribe input:-ms-input-placeholder {
  font-family: 'Lato';
  color: ;
}
.rhd_mc_subscribe .rhd_mc_fname,
.rhd_mc_subscribe .rhd_mc_lname,
.rhd_mc_subscribe .rhd_mc_email {
  border: 2px solid #fff;
  transition: border-color 0.25s;
}
.rhd_mc_subscribe .rhd_mc_fname:focus,
.rhd_mc_subscribe .rhd_mc_lname:focus,
.rhd_mc_subscribe .rhd_mc_email:focus {
  border-color: #bf4d6c;
}
.rhd_mc_subscribe .rhd_mc_submit {
  padding: 0.5em 0.25em;
  background: #132f4d;
  transition: all 0.25s;
}
.rhd_mc_subscribe .rhd_mc_submit:hover,
.rhd_mc_subscribe .rhd_mc_submit:active {
  background: #bf4d6c;
}
#rhd_mc_subscribe-2 .rhd_mc_fname,
#rhd_mc_subscribe-2 .rhd_mc_lname,
#rhd_mc_subscribe-2 .rhd_mc_email {
  border-color: #132f4d;
}
#rhd_mc_subscribe-2 .rhd_mc_fname:focus,
#rhd_mc_subscribe-2 .rhd_mc_lname:focus,
#rhd_mc_subscribe-2 .rhd_mc_email:focus {
  border-color: #bf4d6c;
}
@media screen and (min-width: 40em) {
  .front-page .entry-header,
  .page-id-27 .entry-header {
    text-align: left;
  }
  .front-page .front-page-entry-thumb,
  .page-id-27 .front-page-entry-thumb {
    width: auto;
    float: left;
    margin-right: 1em;
  }
  #top #downarrows {
    width: 6rem;
  }
  #content .section-content {
    padding: 3em 0;
  }
  #contact .section-content {
    margin: 2em auto;
  }
  .blog #content,
  .single #content {
    width: 100%;
  }
  #primary.blog-index #content {
    width: 85%;
    max-width: 75rem;
    position: relative;
    margin: 1em auto 1em auto;
  }
  #primary.blog-index .post {
    width: 48%;
    transition: all 0.25s;
    margin: 0;
  }
  #primary.blog-index .gutter-sizer {
    width: 4%;
  }
  .rhd_mc_subscribe input {
    float: left;
    margin-top: 0;
    margin-bottom: 0;
  }
  .rhd_mc_subscribe .rhd_mc_fname,
  .rhd_mc_subscribe .rhd_mc_lname,
  .rhd_mc_subscribe .rhd_mc_email {
    width: 28%;
    margin-right: 2%;
  }
  .rhd_mc_subscribe .rhd_mc_submit {
    width: 10%;
    margin: 0;
  }
  #colophon .site-info p {
    display: block;
  }
  #colophon .site-info .copy {
    float: left;
    text-align: left;
    margin-left: 1em;
  }
  #colophon .site-info .rhd {
    float: right;
    text-align: right;
    margin-right: 1em;
  }
  #btm-rolldown-form {
    width: 50%;
  }
  #btm-rolldown-form[type="submit"] {
    width: auto;
    float: right;
  }
}
@media screen and (min-width: 60em) {
  #nav #site-navigation-container {
    width: 80%;
    position: absolute;
    top: 14%;
    right: 2%;
    display: block;
  }
  #nav #site-navigation-container #site-navigation {
    text-align: justify;
    line-height: 1;
  }
  #nav #site-navigation-container #site-navigation:after {
    width: 100%;
    display: inline-block;
    content: '';
  }
  #nav #site-navigation-container #site-navigation li {
    display: inline-block;
    font-size: 1em;
    font-weight: 300;
  }
  #nav #hamburger {
    display: none;
  }
  #primary.blog-index .post {
    width: 31%;
    transition: all 0.25s;
    margin: 0;
  }
  #primary.blog-index .gutter-sizer {
    width: 3.5%;
  }
}
@media screen and (min-width: 64em) {
  #nav #site-navigation-container #site-navigation li {
    font-size: 1.1em;
  }
}
/* Add overwrites as needed so that the content of the editor field is attractive and not broken */
html,
body {
  height: auto !important;
  min-height: 0 !important;
  background: #fff;
}
