/***
* RHD Production: Compiled at 6:51:24 PM on 28-04-2015
***/

.unselectable{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none}.invisible{position:absolute;visibility:hidden;margin:0}.blackback{background-color:rgba(0,0,0,0.35)}.flexbox{text-align:justify;}.flexbox:after{width:100%;display:inline-block;content:''}.flexitem{display:inline-block}#resume{height:auto}.full-bg{width:100%;position:relative;}.full-bg img{width:100%;height:auto;}