/***
* RHD Dev: Compiled at 8:25:15 PM on 30-09-2015
***/

.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 48px;
  height: 48px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}
.c-hamburger:focus {
  outline: none;
}
.c-hamburger span {
  display: block;
  position: absolute;
  top: 22px;
  left: 9px;
  right: 9px;
  height: 4px;
  background: #fff;
}
.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  content: "";
}
.c-hamburger span::before {
  top: -10px;
}
.c-hamburger span::after {
  bottom: -10px;
}
.c-hamburger--rot {
  background-color: #28aadc;
}
.c-hamburger--rot span {
  transition: transform 0.3s;
}
.c-hamburger--rot.is-active {
  background-color: #1d89b3;
}
.c-hamburger--rot.is-active span {
  transform: rotate(90deg);
}
.c-hamburger--htx {
  background-color: #ff3264;
}
.c-hamburger--htx span {
  transition: background 0s 0.3s;
}
.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}
.c-hamburger--htx span::before {
  transition-property: top, transform;
}
.c-hamburger--htx span::after {
  transition-property: bottom, transform;
}
.c-hamburger--htx.is-active {
  background-color: #f4003c;
}
.c-hamburger--htx.is-active span {
  background: none;
}
.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}
.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}
.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.3s;
}
.c-hamburger--htla {
  background-color: #32dc64;
}
.c-hamburger--htla span {
  transition: transform 0.3s;
}
.c-hamburger--htla span::before {
  transform-origin: top right;
  transition: transform 0.3s, width 0.3s, top 0.3s;
}
.c-hamburger--htla span::after {
  transform-origin: bottom right;
  transition: transform 0.3s, width 0.3s, bottom 0.3s;
}
.c-hamburger--htla.is-active {
  background-color: #20b94d;
}
.c-hamburger--htla.is-active span {
  transform: rotate(180deg);
}
.c-hamburger--htla.is-active span::before,
.c-hamburger--htla.is-active span::after {
  width: 50%;
}
.c-hamburger--htla.is-active span::before {
  top: 0;
  transform: translateX(19px) translateY(2px) rotate(45deg);
}
.c-hamburger--htla.is-active span::after {
  bottom: 0;
  transform: translateX(19px) translateY(-2px) rotate(-45deg);
}
.c-hamburger--htra {
  background-color: #ff9650;
}
.c-hamburger--htra span {
  transition: transform 0.3s;
}
.c-hamburger--htra span::before {
  transform-origin: top left;
  transition: transform 0.3s, width 0.3s, top 0.3s;
}
.c-hamburger--htra span::after {
  transform-origin: bottom left;
  transition: transform 0.3s, width 0.3s, bottom 0.3s;
}
.c-hamburger--htra.is-active {
  background-color: #ff6e0d;
}
.c-hamburger--htra.is-active span {
  transform: rotate(180deg);
}
.c-hamburger--htra.is-active span::before,
.c-hamburger--htra.is-active span::after {
  width: 50%;
}
.c-hamburger--htra.is-active span::before {
  top: 0;
  transform: translateX(-4px) translateY(2px) rotate(-45deg);
}
.c-hamburger--htra.is-active span::after {
  bottom: 0;
  transform: translateX(-4px) translateY(-2px) rotate(45deg);
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusableactive,
.visuallyhidden.focusablefocus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.clearfix:before,
#content .section-content:before,
#contact #contact-form:before,
.front-page .front-page-entry:before,
#contact .section-content:before,
.clearfix:after,
#content .section-content:after,
#contact #contact-form:after,
.front-page .front-page-entry:after,
#contact .section-content:after {
  content: " ";
  display: table;
}
.clearfix:after,
#content .section-content:after,
#contact #contact-form:after,
.front-page .front-page-entry:after,
#contact .section-content:after {
  clear: both;
}
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media print {
  *,
  *before,
  *after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  avisited {
    text-decoration: underline;
  }
  a[href]after {
    content: " (" attr(href) ")";
  }
  abbr[title]after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]after,
  a[href^="javascript"]after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
img.alignleft {
  float: left;
}
img.alignright {
  float: right;
}
img.aligncenter {
  margin: 0 auto;
  display: block;
}
.gallery {
  width: 100%;
  margin-bottom: 1.6em;
}
.gallery-item {
  display: inline-block;
  padding: 1.79104477%;
  box-sizing: border-box;
  text-align: center;
  vertical-align: top;
  width: 100%;
}
.gallery-item img {
  max-width: 100%;
  height: auto;
}
.gallery-columns-2 .gallery-item {
  max-width: 50%;
}
.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
  max-width: 25%;
}
.gallery-columns-5 .gallery-item {
  max-width: 20%;
}
.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}
.gallery-icon img {
  margin: 0 auto;
}
.gallery-caption {
  color: #707070;
  color: rgba(51,51,51,0.7);
  display: block;
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.5;
  padding: 0.5em 0;
}
.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
  display: none;
}
/* ==========================================================================
	Main Styles
   ========================================================================== */
html,
body {
  width: 100%;
  text-shadow: 0 0 1px transparent;
  font-size: 18px;
  margin: 0;
  background: #fff;
  color: #000;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
a {
  outline: 0 !important;
  color: #c94f37;
  transition: all 0.25s;
  text-decoration: none;
}
a:hover,
a:active {
  color: #f89d68;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}
#page {
  width: 100%;
  overflow: hidden;
}
#main {
  box-sizing: border-box;
}
#primary {
  width: 100%;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
}
#colophon {
  width: 100%;
  background: #9ea4b1;
  color: #fff;
  padding: 1em 0;
}
#colophon .site-info {
  margin: 0;
  text-align: center;
  line-height: 1.7;
  font-size: 1.1em;
  font-weight: 100;
}
#colophon .site-info a {
  text-decoration: none;
  transition: color 0.2s;
}
#colophon .site-info a:link,
#colophon .site-info a:visited {
  color: inherit;
}
#colophon .site-info a:hover,
#colophon .site-info a:active {
  color: #f89d68;
}
#colophon #rhd-logo-footer {
  width: 1.35em;
  height: 1.35em;
  margin: 0 0.05em;
  position: relative;
  bottom: 0.25em;
}
.section-title {
  font-size: 2em;
  text-align: center;
  margin: 0 auto 1em auto;
}
#content section {
  width: 100%;
  position: relative;
}
#content .section-content {
  width: 85%;
  max-width: 75rem;
  position: relative;
  margin: 0 auto 0 auto;
  padding: 1em 0;
}
#content .section-content > *:first-child {
  margin-top: 0;
}
#content .section-content h2 {
  font-size: 2em;
}
#content .section-content h3 {
  font-size: 1.8em;
}
#content iframe {
  max-width: 100%;
  display: block;
}
#top {
  position: relative;
  background-image: url("//dev.roundhouse-designs.com/edgeofthemat/wp-content/uploads/2015/09/edge-bg-home.jpg");
}
#top #masthead {
  width: 17%;
  min-width: 13rem;
  height: 100%;
  text-align: center;
  margin: 0 auto;
  position: relative;
}
#top #masthead #site-title {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
#top #masthead #site-title-text {
  visibility: hidden;
  position: absolute;
}
#nav {
  height: 5rem;
  background-color: #9ea4b1;
}
#nav #nav-logo {
  width: 12%;
  min-width: 10rem;
  position: relative;
  margin-left: 1%;
}
#nav #site-navigation {
  list-style: none;
  padding-left: 0;
}
#nav #site-navigation li {
  text-transform: uppercase;
}
#nav #site-navigation li a {
  text-decoration: none;
}
#nav #site-navigation li a:link,
#nav #site-navigation li a:visited {
  color: #fff;
}
#nav #site-navigation li a:active,
#nav #site-navigation li a:hover {
  color: #c94f37;
}
#nav #site-navigation-container {
  display: none;
}
#nav #hamburger {
  font-size: 1.2em;
  background-color: #000;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
#nav #hamburger.active {
  background-color: #808080;
}
#intro {
  color: #fff;
}
#contact #contact-form,
#contact #contact-info {
  width: 90%;
  margin: 0 auto;
}
#contact #contact-form {
  margin: 2em auto 3em;
}
#contact #contact-form input,
#contact #contact-form textarea {
  font-size: 1em;
  padding-left: 0.25em;
  padding-right: 0.25em;
  border: 2px solid #c94f37;
  font-family: 'Lato', sans-serif;
  transition: 0.2s all;
}
#contact #contact-form input:focus,
#contact #contact-form textarea:focus {
  border: 2px solid #f89d68;
}
#contact #contact-form input[type="email"],
#contact #contact-form textarea[type="email"],
#contact #contact-form input[type="text"],
#contact #contact-form textarea[type="text"] {
  width: 100%;
  height: 2em;
}
#contact #contact-form input[type="submit"],
#contact #contact-form textarea[type="submit"] {
  width: 100%;
  background: #c94f37;
  color: #fff;
  border: none;
  padding: 0.5em 0.2em 0.4em 0.2em;
  font-size: 1.1em;
  text-align: center;
  font-weight: 100;
  display: block;
  cursor: pointer;
}
#contact #contact-form input[type="submit"]:hover,
#contact #contact-form textarea[type="submit"]:hover,
#contact #contact-form input[type="submit"]:active,
#contact #contact-form textarea[type="submit"]:active {
  background: #f89d68;
}
#contact #contact-form textarea {
  width: 100%;
  padding: 0.25em;
}
#contact #contact-info {
  text-align: center;
}
#contact #contact-info img {
  max-width: 100%;
  margin-bottom: 1em;
}
#social {
  width: 100%;
  text-align: justify;
  line-height: 0;
}
#social:after {
  width: 100%;
  display: inline-block;
  content: '';
}
#social .social-item {
  width: 26%;
  display: inline-block;
}
#social .social-item img {
  width: 100%;
}
.full-bg {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}
#full-bg-1 {
  background-image: url("//dev.roundhouse-designs.com/edgeofthemat/wp-content/uploads/2015/09/edge-bg-blog.jpg");
}
#full-bg-2 {
  background-image: url("//dev.roundhouse-designs.com/edgeofthemat/wp-content/uploads/2015/09/edge-bg-teaching.jpg");
}
#full-bg-3 {
  background-image: url("//dev.roundhouse-designs.com/edgeofthemat/wp-content/uploads/2015/09/edge-bg-coaching.jpg");
}
#full-bg-4 {
  background-image: url("//dev.roundhouse-designs.com/edgeofthemat/wp-content/uploads/2015/09/edge-bg-about.jpg");
}
.bg-white {
  background-color: #fff;
}
.bg-blue,
.bg-orange,
.bg-rust,
.bg-pink {
  color: #fff;
}
.bg-blue {
  background-color: #4465a3;
}
.bg-orange {
  background-color: #f89d68;
}
.bg-rust {
  background-color: #c94f37;
}
.bg-pink {
  background-color: #bf4d6c;
}
.section-content iframe,
.entry-content iframe {
  display: block;
  margin: 0 auto;
}
/* ==========================================================================
	Ghost Buttons
   ========================================================================== */
.ghost-button {
  width: auto;
  padding: 0.5em 1em;
  text-decoration: none !important;
  text-align: center;
  transition: all 0.25s;
  background-color: transparent;
  color: #000;
  border: 2px solid #000;
}
.ghost-button:hover,
.ghost-button:active {
  color: #fff;
  border-color: #000;
  background-color: #000;
}
.bg-blue .ghost-button {
  color: #fff;
  border-color: #fff;
}
.bg-blue .ghost-button:hover,
.bg-blue .ghost-button:active {
  color: #4465a3;
  border-color: #4465a3;
  background-color: #fff;
}
.bg-blue .ghost-button,
.bg-orange .ghost-button,
.bg-rust .ghost-button,
.bg-pink .ghost-button {
  color: #fff;
  border-color: #fff;
}
.bg-blue .ghost-button:hover,
.bg-orange .ghost-button:hover,
.bg-rust .ghost-button:hover,
.bg-pink .ghost-button:hover,
.bg-blue .ghost-button:active,
.bg-orange .ghost-button:active,
.bg-rust .ghost-button:active,
.bg-pink .ghost-button:active {
  background-color: #fff;
}
.bg-blue .ghost-button:hover,
.bg-blue .ghost-button:active {
  color: #4465a3;
}
.bg-orange .ghost-button:hover,
.bg-orange .ghost-button:active {
  color: #f89d68;
}
.bg-rust .ghost-button:hover,
.bg-rust .ghost-button:active {
  color: #c94f37;
}
.bg-pink .ghost-button:hover,
.bg-pink .ghost-button:active {
  color: #bf4d6c;
}
/* ==========================================================================
	Blog
   ========================================================================== */
.front-page .entry-title,
.blog .entry-title {
  margin: 0.25em 0 0 0;
  font-weight: 700;
  font-size: 1.5em;
}
.front-page .entry-details,
.blog .entry-details {
  margin-top: 0;
  font-size: 0.9em;
}
.front-page .front-page-entry-thumb {
  float: left;
  margin-right: 1em;
}
.front-page .ghost-button {
  margin-top: 2em;
  position: relative;
  left: 50%;
  font-size: 1.2em;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  display: inline-block;
}
/* ==========================================================================
	Media Queries
   ========================================================================== */
@media screen and (min-width: 40em) {
  #content .section-content {
    padding: 3em 0;
  }
  #contact .section-content {
    margin: 2em auto;
  }
  #contact .section-content #contact-form {
    width: 60%;
    float: left;
  }
  #contact .section-content #contact-form input[type="submit"] {
    width: 6.25rem;
  }
  #contact .section-content #contact-info {
    width: 30%;
    float: right;
    margin-top: 1em;
  }
  #primary.blog-index #content {
    width: 85%;
    max-width: 75rem;
    position: relative;
    margin: 1em auto 1em auto;
  }
  #primary.blog-index .post {
    width: 47%;
    transition: all 0.25s;
  }
  #primary.blog-index .gutter-sizer {
    width: 6%;
  }
}
@media screen and (min-width: 60em) {
  #nav #site-navigation-container {
    width: 80%;
    position: absolute;
    top: 50%;
    right: 2%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
  }
  #nav #site-navigation-container #site-navigation {
    text-align: justify;
    line-height: 0;
  }
  #nav #site-navigation-container #site-navigation:after {
    width: 100%;
    display: inline-block;
    content: '';
  }
  #nav #site-navigation-container #site-navigation li {
    display: inline-block;
    font-size: 1em;
    font-weight: 100;
  }
  #nav #hamburger {
    display: none;
  }
}
@media screen and (min-width: 64em) {
  #nav #site-navigation-container #site-navigation li {
    font-size: 1.1em;
  }
}
