@require "partials/_global.styl"

#resume
	height auto

.full-bg
	width 100%
	position relative

	img
		width 100%
		height auto
		-transform( none )



/* ==========================================================================
	MEDIA QUERIES
   ========================================================================== */

