@require "partials/_global.styl"
@require "partials/_hamburger.styl"
@require "partials/_helpers.styl"
@require "partials/_galleries.styl"
@require "partials/_overrides.styl"

/* ==========================================================================
	Main Styles
   ========================================================================== */

html
	width 100%
	text-shadow 0 0 1px transparent
	font-size 18px
	margin 0
	background white
	color black
	font-family $ff_body
	font-weight 400


body
	@extends html


a
	outline 0 !important
	color $rust
	transition all 0.25s
	text-decoration none

	&:hover
	&:active
		color $orange


h1
h2
h3
h4
h5
h6
	font-weight 100


#page
	width 100%
	overflow hidden


#main
	box-sizing border-box


#primary
	width 100%
	margin 0 auto
	position relative
	box-sizing border-box


#colophon
	width 100%
	background $gray
	color white
	padding 1em 0

	.site-info
		margin 0
		text-align center
		line-height 1.7
		font-size 1.1em
		font-weight 100

		a
			text-decoration none
			transition color 0.2s

			&:link
			&:visited
				color inherit

			&:hover
			&:active
				color $orange

	#rhd-logo-footer
		width 1.35em
		height 1.35em
		margin 0 0.05em
		position relative
		bottom 0.25em


.section-title
	font-size 2em
	text-align center;
	margin 0 auto 1em auto


#content
	section
		width 100%
		position relative

	.section-content
		-wrapper()
		-clearfix()
		padding 1em 0

		& > *
			&:first-child
				margin-top 0

		h2
			font-size 2em

		h3
			font-size 1.8em

	iframe
		max-width 100%
		display block


#top
	position relative
	background-image url($updir + '/2015/09/edge-bg-home.jpg')

	#masthead
		width 17%
		min-width 13rem
		height 100%
		text-align center
		margin 0 auto
		position relative

		#site-title
			width 100%
			height auto
			position absolute
			top 50%
			left 0
			-transform(translateY(-50%))

		#site-title-text
			-invisible()


#nav
	height 5rem
	background-color $gray

	#nav-logo
		width 12%
		min-width 10rem
		position relative
		margin-left 1%

	#site-navigation
		list-style none
		padding-left 0

		li
			text-transform uppercase

			a
				text-decoration none

				&:link
				&:visited
					color white

				&:active
				&:hover
					color $rust

	#site-navigation-container
		display none

	#hamburger
		font-size 1.2em // relative resizing
		background-color black // sample bg animation color
		position absolute
		top 50%
		right 0
		-transform(translateY(-50%))

		&.active
			background-color gray // sample bg animation color


#intro
	color white


#contact
	#contact-form
	#contact-info
		width 90%
		margin 0 auto

	#contact-form
		margin 2em auto 3em
		-clearfix()

		input
		textarea
			font-size 1em
			padding-left 0.25em
			padding-right 0.25em
			-border-radius(0.1em)
			border 2px solid $rust
			font-family $ff_body
			transition 0.2s all

			&:focus
				border 2px solid $orange

			&[type="email"]
			&[type="text"]
				width 100%
				height 2em

			&[type="submit"]
				width 100%
				background $rust
				color white
				border none
				padding 0.5em 0.2em 0.4em 0.2em
				font-size 1.1em
				text-align center
				font-weight 100
				display block
				cursor pointer

				&:hover
				&:active
					background $orange

		textarea
			width 100%
			padding 0.25em

	#contact-info
		text-align center

		img
			max-width 100%
			margin-bottom 1em


#social
	width 100%
	-flexbox()

	.social-item
		width 26%
		-flexitem()

		img
			width 100%


.full-bg
	width 100%
	height 100vh
	background-size cover
	background-position center top
	background-repeat no-repeat


#full-bg-1
	background-image url($updir + '/2015/09/edge-bg-blog.jpg')


#full-bg-2
	background-image url($updir + '/2015/09/edge-bg-teaching.jpg')


#full-bg-3
	background-image url($updir + '/2015/09/edge-bg-coaching.jpg')


#full-bg-4
	background-image url($updir + '/2015/09/edge-bg-about.jpg')


.bg-white
	background-color white

.bg-blue
.bg-orange
.bg-rust
.bg-pink
	color white

.bg-blue
	background-color $blue

.bg-orange
	background-color $orange

.bg-rust
	background-color $rust

.bg-pink
	background-color $pink


.section-content
.entry-content
	iframe
		display block
		margin 0 auto


/* ==========================================================================
	Ghost Buttons
   ========================================================================== */

.ghost-button
	width auto
	padding 0.5em 1em
	text-decoration none !important
	text-align center
	transition all 0.25s
	background-color transparent
	color black
	border 2px solid black

	&:hover
	&:active
		color white
		border-color black
		background-color black


.bg-blue
	.ghost-button
		color white
		border-color white

		&:hover
		&:active
			color $blue
			border-color $blue
			background-color white

.bg-blue
.bg-orange
.bg-rust
.bg-pink
	.ghost-button
		color white
		border-color white

		&:hover
		&:active
			background-color white


.bg-blue
	.ghost-button
		&:hover
		&:active
			color $blue


.bg-orange
	.ghost-button
		&:hover
		&:active
			color $orange


.bg-rust
	.ghost-button
		&:hover
		&:active
			color $rust


.bg-pink
	.ghost-button
		&:hover
		&:active
			color $pink

/* ==========================================================================
	Blog
   ========================================================================== */

.front-page
.blog
	.entry-title
		margin 0.25em 0 0 0
		font-weight 700
		font-size 1.5em

	.entry-details
		margin-top 0
		font-size 0.9em

.front-page
	.front-page-entry
		-clearfix()

	.front-page-entry-thumb
		float left
		margin-right 1em

	.ghost-button
		margin-top 2em
		position relative
		left 50%
		font-size 1.2em
		-transform(translateX(-50%))
		display inline-block


/* ==========================================================================
	Media Queries
   ========================================================================== */

@media screen and (min-width 40em)
	#content
		.section-content
			padding 3em 0


	#contact
		.section-content
			margin 2em auto

			-clearfix()

			#contact-form
				width 60%
				float left

				input
					&[type="submit"]
						width 6.25rem

			#contact-info
				width 30%
				float right
				margin-top 1em


	#primary
		&.blog-index
			#content
				-wrapper(1em, 1em)

			.post
				width 47%
				transition all 0.25s

			.gutter-sizer
				width 6%


@media screen and (min-width 60em)
	#nav
		#site-navigation-container
			width 80%
			position absolute
			top 50%
			right 2%
			-transform(translateY(-50%))
			display block

			#site-navigation
				-flexbox()

				li
					-flexitem()
					font-size 1em
					font-weight 100

		#hamburger
			display none


@media screen and (min-width 64em)
	#nav
		#site-navigation-container
			#site-navigation
				li
					font-size 1.1em