@require "partials/_global.styl"
@require "partials/_hamburger.styl"
@require "partials/_helpers.styl"
@require "partials/_galleries.styl"
@require "partials/_metabar.styl"
@require "partials/_overrides.styl"

/* ==========================================================================
	Main Styles
   ========================================================================== */

html
	width 100%
	text-shadow 0 0 1px transparent
	font-size 18px
	margin 0
	background white
	color black
	font-family $ff_body
	font-weight 400


body
	@extends html
	fill currentColor


a
	outline 0 !important
	color $rust
	transition all 0.25s
	text-decoration none

	&:hover
	&:active
		color $orange


h1
h2
h3
h4
h5
h6
	font-weight 300


.sb-slidebar
	border-left 3px solid $bluer

	.sb-logo
		height $nav-ht
		margin 0
		position relative

		.nav-logo
			width 90%
			height auto
			display block
			position absolute
			top 50%
			left 50%
			-transform(translate(-50%, -50%))


	#site-navigation-sb-container
		#site-navigation-sb
			padding-left 0
			font-size 1.6em
			line-height 1
			margin 0

			.menu-item
				padding 1em 0 1em 0.75em

				a
					width 100%
					height 100%
					display block
					color white

				&:nth-of-type(7n+1)
					background-color $blue

				&:nth-of-type(7n+2)
					background-color $gray

				&:nth-of-type(7n+3)
					background-color $pink

				&:nth-of-type(7n+4)
					background-color $$bluer

				&:nth-of-type(7n+5)
					background-color $orange

				&:nth-of-type(7n+6)
					background-color $red

				&:nth-of-type(7n+7)
					background-color $gray


#page
	width 100%
	overflow hidden
	padding-top $nav-ht


#main
	box-sizing border-box


#primary
	width 100%
	margin 0 auto
	position relative
	box-sizing border-box


#colophon
	width 100%
	background $gray
	color white
	padding 1em 0

	.site-info
		margin 0
		text-align center
		line-height 1.7
		font-size 0.9em
		font-weight 300
		position relative

		p
			margin 0.25em auto
			text-align center

		a
			text-decoration none
			transition color 0.2s

			&:link
			&:visited
				color inherit

			&:hover
			&:active
				color $bluer

	#rhd-logo-footer
		width 1.35em
		height 1.35em
		margin 0 0.05em
		position relative
		bottom 0.25em


.section-title
	font-size 2em
	text-align center;
	margin 0 auto 1em auto


#content
	section
		width 100%
		position relative

	.section-content
		-wrapper()
		-clearfix()
		padding 1em 0

		& > *
			&:first-child
				margin-top 0

		h2
			font-size 2em

		h3
			font-size 1.8em

	iframe
		max-width 100%
		display block


#top
	position relative
	background-image url($updir + '/2015/09/edge-bg-home.jpg')

	#masthead
		width 17%
		min-width 13rem
		height 100%
		text-align center
		margin 0 auto
		position relative

		#site-title
			width 100%
			height auto
			position absolute
			top 45%
			left 0
			-transform(translateY(-50%))
			fill white

		#site-title-text
			-invisible()

	#downarrows
		width 5rem
		position absolute
		bottom 10%
		left 50%
		-transform(translateX(-50%))
		display block

		img
			width 100%


#nav
	width 100%
	height $nav-ht
	background-color $gray
	position fixed
	top 0
	left 0
	z-index 999

	.nav-logo
		width 12%
		min-width 10rem
		position relative
		margin-left 1%

		path
			fill white
			transition fill 0.25s

	#site-navigation
		list-style none
		padding-left 0

		li
			text-transform uppercase

			a
				text-decoration none

				&:link
				&:visited
					color white

				&:active
				&:hover
					color $rust

	#site-navigation-container
		display none


	#hamburger
		font-size 1.2em // relative resizing
		background-color transparent // sample bg animation color
		position absolute
		top 50%
		right 0
		-transform(translateY(-50%))

		span
			background-color white

			&::before
			&::after
				background-color white

#intro
	color white
	
	a
		color white
		text-decoration underline


#btm-rolldown-form
	width 90%
	margin 2em auto
	-clearfix()
	transition max-height 0.5s ease-in-out
	overflow hidden

	&.inactive
		max-height 0

	&.active
		max-height 310px

	input
	textarea
		max-width none
		font-size 1em
		padding 0.5em 0.25em
		border-radius(0.1em)
		border 2px solid $bluer
		font-family $ff_body
		transition 0.2s all

		&:focus
			border 2px solid $blue
			outline none

		&[type="email"]
		&[type="text"]
			width 100%
			height 2em

		&[type="submit"]
			width 100%
			background $bluer
			color white
			border none
			padding 0.5em 1.0em 0.4em
			font-size 1.1em
			text-align center
			font-weight 300
			display block
			cursor pointer
			text-transform uppercase

			&:hover
			&:active
				background $blue

	textarea
		width 100%
		padding 0.25em

	label
		& > span
			opacity 0.5
			font-size 0.8em


#rhd_social_icons-2
	width 16.6em
	margin 0 auto

	.rhd_social_icons
		width 100%
		-flexbox()

		li
			width 20%
			-flexitem()
			background-repeat no-repeat
			background-size 100% auto
			background-position center


.full-bg
	width 100%
	height 100vh
	background-size cover
	background-position center top
	background-repeat no-repeat


#full-bg-1
	background-image url($updir + '/2015/09/edge-bg-blog.jpg')
	background-position 82% center


#full-bg-2
	background-image url($updir + '/2015/09/edge-bg-teaching.jpg')
	background-position 73% center


#full-bg-3
	background-image url($updir + '/2015/09/edge-bg-coaching.jpg')
	background-position 76% center


#full-bg-4
	background-image url($updir + '/2015/09/edge-bg-about.jpg')
	background-position 24% center


#btm-full-bg-top
	height 80vh
	background-image url($updir + '/2015/09/beyond-bg.jpg')


.bg-white
	background-color white


.bg-blue
.bg-orange
.bg-red
.bg-pink
.bg-green
	color white


.bg-blue
	background-color $blue


.bg-orange
	background-color $orange


.bg-red
	background-color $red


.bg-rust
	background-color $rust


.bg-pink
	background-color $pink


.bg-green
	background-color $green


.section-content
.entry-content
	iframe
		display block
		margin 0 auto


/* ==========================================================================
	Ghost Buttons
   ========================================================================== */

.ghost-button
	width auto
	padding 0.5em 1em
	text-decoration none !important
	text-align center
	transition all 0.25s
	background-color transparent
	color black
	border 2px solid black

	&:hover
	&:active
		color white
		border-color black
		background-color black


.bg-blue
	.ghost-button
		color white
		border-color white

		&:hover
		&:active
			color $blue
			border-color $blue
			background-color white

.bg-blue
.bg-orange
.bg-red
.bg-pink
.bg-green
	.ghost-button
		color white
		border-color white

		&:hover
		&:active
			background-color white


.bg-blue
	.ghost-button
		&:hover
		&:active
			color $blue


.bg-orange
	.ghost-button
		&:hover
		&:active
			color $orange


.bg-red
	.ghost-button
		&:hover
		&:active
			color $rust


.bg-pink
	.ghost-button
		&:hover
		&:active
			color $pink


.bg-green
	.ghost-button
		&:hover
		&:active
			color $green


/* ==========================================================================
	Front Page + Blog
   ========================================================================== */

.page-title
	text-align center
	font-size 2em
	margin-bottom 1em
	text-transform uppercase


.blog
.single
.page-id-27
	#nav
		position fixed
		top 0
		left 0

.blog
.single
	#content
		-wrapper(0,0,95%)


.front-page
.page-id-27
.blog
	.entry-header
		text-align center

	.entry-title
		margin 0.25em 0 0 0
		font-weight 700
		font-size 1.5em

	.entry-details
		margin-top 0
		font-size 0.9em


.single
	.entry-title
		font-weight 300
		margin-bottom 0

	.entry-details
		margin-top 0


.blog
	.blog-archive-thumb
		width 100%
		height auto

		img
			width (@width)
			height (@height)

	.entry-title
	.entry-details
		text-align center

	.pagination
	.single-pagination
		-wrapper(2em, 2em)
		margin 1em auto
		font-size 1.1em
		-clearfix()

		.pag-next
		[rel="next"]
			float left

		.pag-prev
		[rel="prev"]
			float right


.front-page
	#nav
		position relative


.front-page
.page-id-27
	#page
		padding-top 0

	.front-page-entry
		-clearfix()

	.front-page-entry-thumb
		width 100%

		img
			width (@width)

	.ghost-button
		margin-top 2em
		position relative
		left 50%
		font-size 1.2em
		-transform(translateX(-50%))
		display inline-block


/* ==========================================================================
	Comments
   ========================================================================== */

#comments
	margin 2em auto

	.commentlist
		list-style none
		padding-left 0

		ul
		ol
			@extends #comments .commentlist

		.children
			padding 0 1.5em

		.comment-metadata
			font-size 0.9em

			time
				font-style italic

	.even
		background $off-white

	.odd
		background white

	.comment-body
		padding 1em
		box-sizing border-box

	textarea
		max-width 100%

	#commentform
		width 100%
		min-width 18rem
		max-width 100%

		p
			margin-bottom 0.75rem

		input
		textarea
			width 100%
			background-color $off-white
			font-size 0.8em
			border none
			box-sizing border-box
			padding 0.5em
			display inline-block

		#submit
			width auto
			padding-left 0.8em
			cursor pointer
			@extends .ghost-button

		.comment-subscription-form
			margin initial


/* ==========================================================================
	MailChimp
   ========================================================================== */

.rhd_mc_subscribe
	margin 1em auto

	input
		width 100%
		font-family $ff_body
		-placeholder-props( 'Lato' )
		margin 0.25em auto
		border-radius 0.1em
		outline none

	.rhd_mc_fname
	.rhd_mc_lname
	.rhd_mc_email
		border 2px solid white
		transition border-color 0.25s

		&:focus
			border-color $pink

	.rhd_mc_submit
		padding 0.5em 0.25em
		background $bluer
		transition all 0.25s

		&:hover
		&:active
			background $pink


#rhd_mc_subscribe-2
	.rhd_mc_fname
	.rhd_mc_lname
	.rhd_mc_email
		border-color $bluer

		&:focus
			border-color $pink


/* ==========================================================================
	Media Queries
   ========================================================================== */

@media screen and (min-width 40em)
	.front-page
	.page-id-27
		.entry-header
			text-align left

		.front-page-entry-thumb
			width auto
			float left
			margin-right 1em

	#top
		#downarrows
			width 6rem

	#content
		.section-content
			padding 3em 0


	#contact
		.section-content
			margin 2em auto

			-clearfix()


	.blog
	.single
		#content
			width 100%


	#primary
		&.blog-index
			#content
				-wrapper(1em, 1em, 85%, 75rem)

			.post
				width 48%
				transition all 0.25s
				margin 0

			.gutter-sizer
				width 4%


	.rhd_mc_subscribe
		-clearfix()

		input
			float left
			margin-top 0
			margin-bottom 0

		.rhd_mc_fname
		.rhd_mc_lname
		.rhd_mc_email
			width 28%
			margin-right 2%

		.rhd_mc_submit
			width 10%
			margin 0


	#colophon
		.site-info
			-clearfix()

			p
				display block;

			.copy
				float left
				text-align left
				margin-left 1em

			.rhd
				float right
				text-align right
				margin-right 1em


	#btm-rolldown-form
		width 50%

		&[type="submit"]
			width auto
			float right


@media screen and (min-width 60em)
	#nav
		#site-navigation-container
			width 80%
			position absolute
			top 14%
			right 2%
			display block

			#site-navigation
				-flexbox()
				line-height 1

				li
					-flexitem()
					font-size 1em
					font-weight 300

		#hamburger
			display none

	#primary
		&.blog-index
			.post
				width 31%
				transition all 0.25s
				margin 0

			.gutter-sizer
				width 3.5%


@media screen and (min-width 64em)
	#nav
		#site-navigation-container
			#site-navigation
				li
					font-size 1.1em