/* ==========================================================================
	Global Stylus Variables
   ========================================================================== */

// Variables
$color2 = red


// Classes

.unselectable
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	-o-user-select: none;
	user-select: none;


.invisible
	position absolute
	visibility hidden
	margin 0


// Functions

wrapper( $topMargin = false, $bottomMargin = false )
	width 90%
	position relative

	if $topMargin == false
		$topMargin = 0
	if $bottomMargin == false
		$bottomMargin = 0

	margin $topMargin auto $bottomMargin auto


flexbox()
	text-align justify
	padding 0

	&:after
		width 100%
		display inline-block
		content ''

flexitem()
	display inline-block


body-shadow( $yPos )
	box-shadow 0em $yPos 0.45em 0em rgba(0,0,0,0.5)


placeholder-props( $famVal, $color)
	&::-webkit-input-placeholder
		font-family $famVal
		color $color
	&:-moz-placeholder /* Firefox 18- */
		font-family $famVal
		color $color
	&::-moz-placeholder  /* Firefox 19+ */
		font-family $famVal
		color $color
	&:-ms-input-placeholder
		font-family $famVal
		color $color


-opacity( $val )
	-moz-opacity $val
	-webkit-opacity $val
	opacity $val


-transform( $val )
	-webkit-transform $val
	transform $val


-border-radius( $val )
	-webkit-border-radius $val
	-moz-border-radius $val
	border-radius $val


-transition( $val )
	-webkit-transition $val
	transition $val